<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <h3>
           <p style="margin-left: 40px"> Please respond to the ACCEPT questionair</p> 
        </h3>
        <form method="POST" action="/send">
            
        <div class="form-group">
         <p style="margin-left: 40px"> 
             <textarea id="text" name="text" rows="10" cols="90" style="font-size: 14pt; line-height: 200%"  >
Patient is a 78 years old female , smoker. she doesn't use oxygen therapy. 
She has seven exacerbations last year and 2 severe exacerbations .
She is under treatment with budesonide and umeclidinium . She has no history of using statin. 
CAT score is 20 and her BMI is 31. She does not use LABA. Never used SABA. 
FEV1 percentage  is 25%. Dr J sent his suggestions  for treatment with new medications.SGRQ score is 11.
            </textarea>
        </p>
        </div>
        <p style="margin-left: 40px">
            <input class="btn btn-primary" type="submit" value="submit">
            </p>
        
        </form>
        
    
    
    </body>




</html>