<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 70%; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
		
</style>
		
</head>
    <body>
<img src="{{url_for('static', filename='Header.png')}}" width="100%" height="8%" alt=""/>
<div class="row">
  <div class="column" style="background-color:#E8E2E2;">
    <h5>&nbsp;&nbsp;Submitted text</h5>
    <div>
<div>
  
	<p>&nbsp;&nbsp;<textarea  rows="10" width='100%' style="font-size: 14pt; line-height: 200% ; width:90%;" >{{ text['body']['text'] }}</textarea></p>
</div>
		<div>

<p> 
			 &nbsp;&nbsp;       '-1' represents that the user has mentioned the absence of a feature for the particular patient.
		  </p>
		  <p> 
					&nbsp; &nbsp;        '0' represents that the feature is not been addressed by user and might be asked again to be filled.
		  </p>
			
          &nbsp;&nbsp; <p class="text-uppercase">&nbsp;&nbsp;&nbsp;</p>
          <p class="text-uppercase">&nbsp;</p>
                    <p class="text-uppercase">&nbsp;&nbsp; <strong>&nbsp;&nbsp; <a href="javascript:javascript:history.go(-1)" style="text-align:center">&nbsp;&nbsp; Go back to the submission form</a></strong></p>
        </div>
		
		
		
		
 
</blockquote>
 
    </div>
	  
	  
  </div>
  <div class="column" style="background-color:; height:50%">
	  				  <div class="container" width='50%' height='80%'>
				   <p style="margin-left: 40px">
					   <h3> Results;&nbsp; Extracted information</h3>
				   
				   <table class="table table-striped">
					  <thead>
						<tr>
						  <th scope="col">Variable</th>
						  <th scope="col">Value</th>
						  <th scope="col">Probability</th>
						  
						</tr>
					  </thead  class="thead-dark">
					  <tbody>
						    <tr>
								 <th scope="row">Gender </th>
								  <td>{{ text['body']['Gender'][0] }}</td>
								  <td>{{ text['body']['Gender'][1] }}</td>
								  
								</tr>
							<tr>	
								 <th scope="row">Age </th>
								  <td>{{ text['body']['Age'][0] }}</td>
								  <td>{{ text['body']['Age'][1] }}</td>
								  
								</tr>
							<tr>	
								 <th scope="row">Smoker </th>
								  <td>{{ text['body']['smoker'][0] }}</td>
								  <td>{{ text['body']['smoker'][1] }}</td>
								  
								</tr>
							<tr>	
								 <th scope="row">BMI </th>
								  <td>{{ text['body']['BMI'][0] }}</td>
								  <td>{{ text['body']['BMI'][1] }}</td>
								  
								</tr>	
								 <th scope="row">FEV1 </th>
								  <td>{{ text['body']['FEV1'][0] }}</td>
								  <td>{{ text['body']['FEV1'][1] }}</td>
								  
								</tr>
							<tr>	
								 <th scope="row">SGRQ </th>
								  <td>{{ text['body']['SGRQ'][0] }}</td>
								  <td>{{ text['body']['SGRQ'][1] }}</td>
								  
								</tr>
							<tr>	
								 <th scope="row">CAT </th>
								  <td>{{ text['body']['CAT'][0] }}</td>
								  <td>{{ text['body']['CAT'][1] }}</td>
								  
								</tr>
							<tr>	
								 <th scope="row">Oxygen Therapy </th>
								  <td> {{ text['body']['Oxygen_Therapy'][0]}} </td>
								  <td>{{ text['body']['Oxygen_Therapy'][1] }}</td>
								  
								</tr>
							<tr>	
								 <th scope="row">Statin </th>
								  <td>{{ text['body']['Statin'][0]}}  </td>
								  <td>{{ text['body']['Statin'][1] }}</td>
								  
								</tr>
							<tr>	
								 <th scope="row">LAMA </th>
								  <td>{{ text['body']['LAMA'][0]}}   </td>
								  <td>{{ text['body']['LAMA'][1] }}</td>
								  
								</tr>
								
							<tr>
								 <th scope="row">LABA </th>
								  <td>{{ text['body']['LABA'][0]}}   </td>
								  <td>{{ text['body']['LABA'][1] }}</td>
								  
								</tr>
							<tr>
								 <th scope="row">ICS </th>
								  <td>{{ text['body']['ICS'][0] }}</td>
								  <td>{{ text['body']['ICS'][1] }}</td>
								  
								</tr>

							<tr>
								 <th scope="row">Exacerbations </th>
								  <td>{{ text['body']['Exacerbations'][0] }}</td>
								  <td>{{ text['body']['Exacerbations'][1] }}</td>
								  
								</tr>
							<tr>
								 <th scope="row">Severe exacerbation </th>
								  <td>{{ text['body']['Severe_exacerbation'][0] }}</td>
								  <td>{{ text['body']['Severe_exacerbation'][1] }}</td>
								  
								</tr>								
																
					  </tbody>
					</table>
					
					</div>
    
	  
	  
	  </p>
  </div>
</div>
          

        
    
    
</body>




</html>